body{
    background-color:rgb(129, 211, 226);
}

.todo-list{
    text-align: center;
}


.main-container {
    margin: auto;
    margin-top: 50px;
    width: 500px;
    border: 3px solid rgb(159, 217, 228);
    background-color: rgb(159, 217, 228);
    border-radius: 10px;
    padding: 20px;
    word-wrap: break-word;
}


button{
    display:block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(25, 170, 195);
    border: none;
    height: 40px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

button:focus {
    outline: none; 
}

button:hover{
    color: rgb(25, 170, 195);
    background-color: transparent
}

.input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 25px;
    border-radius: 5px;
    border: 1px transparent;
    padding: 10px;
}

.text {
    margin-top: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.596)
}

.todo{
    /* text-align: center; */
    margin-bottom: 10px;
}

.todo-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

h5{
    text-align: center;
    color: rgba(0, 0, 0, 0.883)
}

.todo-text{
    margin-left: 5px;
    /* color: rgba(0, 0, 0, 0.794) */
}

.text span{
    display: block;
}

.complete{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.657)
}

.time{
    display: block;
    width: 100%;
    margin-left: 60%;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.808)
}


@media screen and (max-width: 600px) {
    .main-container{
        width: 75%;
    }
  }
